<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
          <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Welcome to Your Admin Dashboard</h2>
          <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Click on the links at the top of the page to view donation, donor, and animal inventories.</p>
      </div> 
      <div class="grid gap-8 lg:grid-cols-2">
          <article class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">

              <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><a href="#">Most Recent Animal Intakes</a></h2>
                 <ul>
                   <li>Lucy - Barn Owl - 9/23/24</li>
                   <li>Sly - Fox - 9/29/24</li>
                   <li>Lenny - Lizard - 10/2/24</li>
                 </ul>
              <div class="flex justify-between items-center">
                  <div class="flex items-center space-x-4">
                  </div>
              </div>
          </article> 
          <article class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
              <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><a href="#">Most Recent Donors</a></h2>
              <ul>
                <li>Name - Donation Amount - Date</li>
                <li>Name - Donation Amount - Date</li>
                <li>Name - Donation Amount - Date</li>
              </ul>
              </div>
          </article>                  
      </div>  
  </div>
</section>